/* .navbar {
    display: flex;
    justify-content: space-around;
    background-color: #fdfd96;
    padding: 10px;
  }
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  .navbar a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
  }
   */